{% extends 'base.html.twig' %}

{% block title %} {{Produto.nome}} - Vizualizar produto{% endblock %}

{% block body %}

<div class="album py-5 bg-light">
   <main role="main" class="container">
        <div class="row">
            <div class="col-md-8 blog-main">
            <h3 class="pb-4 mb-4 font-italic border-bottom">
                {{Produto.nome}}
            </h3>

            <div class="blog-post">
                <div class="text-center">
                    <img style="height: 400px;" src="{{Produto.imagem}}" class="img-fluid" alt="Responsive image">
                </div>


                <h2>Descrição</h2>
                <p>{{Produto.descricao}}</p>
                <h3>Características</h3>
                <p>{{Produto.Caracteristicas.textcaracteristicas}}</p>
              
            </div><!-- /.blog-post -->

     
         

        </div><!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar">
            <div class="p-4 mb-3 bg-light rounded text-center">
                <h4 class="font-italic">Preço</h4>
                <p class="mb-0">R$ {{ Produto.preco|number_format(2, '.', ',') }}</p>
            </div>

            <div class="p-4">
                <a href="{{ path('add_carrinho',{'id':Produto.id})}}" class="btn btn-lg btn-block btn-primary">COMPRAR</a>
              
            </div>
        </aside><!-- /.blog-sidebar -->

        </div><!-- /.row -->
    </main>
</div>

{% endblock %}
