{% extends 'base.html.twig' %}

{% block title %} Meu Carrinho {% endblock %}

{% block body %}
<div class="album py-5 bg-light">
   <main role="main" class="container">

        <h1>Meu Carrinho  <i class="fas fa-shopping-cart"></i></h1>

        {% if Produtos|length > 0 %}

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Preço</th>
                        <th scope="col">Qtd.</th>
                        <th scope="col">Sub Total</th>
                        <th class="text-center">Remover</th>
                    </tr>
                </thead>
                <tbody>
                        {% for key , Produto in Produtos %}
                        <tr>
                            <td scope="row">
                                <img style="width: 60px;" src="{{Produto.Item.imagem}}" class="rounded mx-auto">
                                - {{Produto.Item.nome}}
                            
                            </td>
                            <td>R$ {{ Produto.Item.preco|number_format(2, '.', ',') }}</td>
                            <td>
                                <a href="{{ path('removeQtd_carrinho',{'id':Produto.Item.id})}}" >-</a>  
                                    {{Produto.qtd}}  
                                <a href="{{ path('add_carrinho',{'id':Produto.Item.id})}}">+</a>
                            </td>
                                {% set subtotal = Produto.qtd * Produto.Item.preco %}
                            <td>R$ {{ subtotal|number_format(2, '.', ',') }}</td>

                            <td class="text-center">
                                <a href="{{ path('remove_carrinho',{'id':key})}}">
                                    <span class="badge badge-danger"><i class="fas fa-trash-alt"></i></span>
                                </a>
                            </td>
                        </tr>

                        {% endfor %}
                        <tr>
                            <th class="text-right" colspan="4">Total: R$ {{ Total|number_format(2, '.', ',') }}</th>
                        </tr>

                </tbody>
            </table>
        
            <div class="text-center">
                <a  href="{{ path('HomeLoja')}}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Continuar Comprando</a>
                <a href="{{path('checkout')}}" class="btn btn-success btn-lg active" role="button" aria-pressed="true">Finalizar Compra</a>
            </div> 
        {% else %}
            <div class="text-center">
                <h3 class="text-center"  style="margin-bottom: 6.5rem;margin-top: 40px;" >
                    Não Existe produto no seu Carrinho..
                </h3>
                <a  href="{{ path('HomeLoja')}}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Bora Compra !</a>
            </div> 
        {% endif %}
    </main>
</div>       
{% endblock %}
